<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="true" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher_foreground"
        android:banner="@drawable/tv_banner"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.shell.MainActivity"
            android:exported="true"
            android:banner="@drawable/tv_banner"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.MaxStream.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
